<section class="explanation">
  <p class="description">How Visually works</p>
  <h1 class="heading dark">1. Upload audio</h1>
  <p class="description">Visually will understand what is it about.</p>
  <img class="soundwave" src="../../../../assets/features/home/soundwave.png" />
  <h1 class="heading dark">2. Receive video</h1>
  <p class="description">
    Visually will find videos relevant to the audio. Finally, audio is combined
    with the videos to create a movie.
  </p>
  <div class="showcase">
    <img
      class="soundwave"
      src="../../../../assets/features/home/soundwave.png"
    />
    <img class="montage" src="../../../../assets/features/home/showcase.gif" />
  </div>
  <h1 class="heading dark">3. Increase engagement</h1>
  <p class="description">
    Download the video and allow your fans to experience your content in a
    revolutionary way.
  </p>
</section>
