<section class="explanation">
  <p class="description">How Visually works</p>
  <h1 class="heading dark">1. Upload audio</h1>
  <p class="description">Visually will understand what is it about.</p>
  <img class="soundwave" src="../../../../assets/features/home/soundwave.png" />
  <h1 class="heading dark">2. Receive audio + video</h1>
  <p class="description">
    Having understood your audio, Visually will create a montage from relevant
    videos. Finally, montage is combined with the audio.
  </p>
  <div class="showcase">
    <img
      class="soundwave"
      src="../../../../assets/features/home/soundwave.png"
    />
    <img class="montage" src="../../../../assets/features/home/showcase.gif" />
  </div>
</section>
